{# Paramètrage #}

    <div class="col-1 margin-top-l">

        <a href="{{ path('app_transaction_display',{id: transaction.uuid}) }}">
            <div class="crypto-card-section">
                {# Titre crypto + arrow #}
                <div class="flex space-between alignitems-center">

                    <div class="flex alignitems-center">
                        <div>
                            <svg class="icon-m icon-coloration-error margin-right-m"><use xlink:href="/images/icons.svg#arrow_increase"></use></svg>
                        </div>
                        <span class="crypto-sigle">{{ transaction.crypto.symbol }}</span>
                        <span class="text margin-left-xs">({{ transaction.crypto.name }})</span>
                    </div>

                    <button class="icon_button">
                        <svg class="icon-m"><use xlink:href="/images/icons.svg#chevron-right"></use></svg>
                    </button>
                </div>

                {# texte informatif #}
                <div class="secondary_information">
                    {{ transaction.quantity }} {{ transaction.crypto.symbol }}<br>
                    prix original : {{ transaction.originalprice }} €<br>
                    Valeur aujourd'hui : 5000€<br>
                </div>
            </div>
        </a>
    </div>
