    <div class="col-1 margin-top-l">

        <div class="fullwidth">

            {# Titre crypto #}
            <div class="flex space-between alignitems-center">
                <div>
                    <h1> {{ transaction.quantity }} {{ transaction.crypto.symbol }}</h1>
                </div>

                <div class="home_btn_desktop">
                    <div class="flex">
                        {% include('atomic/buttons/delete.html.twig') %}
                        <div class="margin-left-xs"></div>
                        {% include('atomic/buttons/modify.html.twig') %}
                    </div>
                </div>

            </div>

            {# texte informatif #}
            <div class="secondary_information">
                {{ transaction.crypto.symbol }} ( {{ transaction.crypto.name }})<br>
                prix original :  {{ transaction.originalprice }} €<br>
                Valeur aujourd'hui : 5000€<br>
            </div>

        </div>
    </div>
