{# Paramètrage #}

    <div class="col-1 margin-top-l">

        <a href="{{ path('app_transaction_display',{id: transaction.uuid}) }}" id="transaction_link">
            <div class="crypto-card-section">
                {# Titre crypto + arrow #}
                <div class="flex space-between alignitems-center">

                    <div class="flex alignitems-center">
                        <div>
                            {% if transaction.daylyvalue > transaction.originalprice %}
                                <svg class="icon-m icon-coloration-valid margin-right-m"><use xlink:href="/images/icons.svg#arrow_increase"></use></svg>
                            {% else %}
                                <svg class="icon-m icon-coloration-error margin-right-m"><use xlink:href="/images/icons.svg#arrow_decrease"></use></svg>
                            {% endif %}

                        </div>
                        <span class="crypto-sigle">{{ transaction.quantity }} {{ transaction.crypto.symbol }}</span>
                    </div>

                    <button class="icon_button">
                        <svg class="icon-m"><use xlink:href="/images/icons.svg#chevron-right"></use></svg>
                    </button>
                </div>

                {# texte informatif #}
                <div class="secondary_information">
                    Prix original : {{ transaction.originalprice|number_format(2, ',', ' ')  }} €<br>
                    Valeur aujourd'hui : <b>{{transaction.daylyvalue|number_format(2, ',', ' ') }} €</b><br>
                </div>
            </div>
        </a>
    </div>
