<footer class="footer">
    <div class="container">
        <div class="col-start-1 col-end-13 flex flex-wrap-wrap">
            <div class="col-1 col-m-3 footer-bloc">
                <div class="titre_footer">CRYPTOOL</div>
                <hr class="hr_footer">
                <a href="{{ path('app_front_soon') }}" class="a-footer">
                    <div class="lien_footer">Pourquoi utiliser Cryptool ?</div>
                </a>
                <a href="{{ path('app_front_soon') }}" class="a-footer">
                    <div class="lien_footer">Qui peut s'inscrire ?</div>
                </a>
            </div>
            <div class="col-1 col-m-3 footer-bloc">
                <div class="titre_footer">FAQ</div>
                <hr class="hr_footer">
                <a href="{{ path('app_front_soon') }}" class="a-footer">
                    <div class="lien_footer">Liste des cryptomonnaies</div>
                </a>
                <a href="{{ path('app_front_soon') }}" class="a-footer">
                    <div class="lien_footer">Un portefeuille, c'est quoi ?</div>
                </a>
                <a href="{{ path('app_front_soon') }}" class="a-footer">
                    <div class="lien_footer">Valorisation et gain</div>
                </a>
            </div>
            <div class="col-1 col-m-3 footer-bloc">
                <div class="titre_footer">CONTACT</div>
                <hr class="hr_footer">
                <a href="{{ path('app_front_soon') }}" class="a-footer">
                    <div class="lien_footer">Contacter le support technique</div>
                </a>
            </div>
        </div>
    </div>
</footer>