<header>
    <div class="container">
        <div class="col-start-1 col-end-13 flex space-between alignitems-center">
            <a href="{{ path('app_front_index') }}">
                <img src="{{ asset('images/logo.png')}}" class="logo">
            </a>
            
            {% if app.user is defined %}
                <div class="flex">
                    <a href="{{ path('app_wallet_index') }}">
                        <button class="icon_button">
                            <svg class="icon-m"><use xlink:href="/images/icons.svg#wallet"></use></svg>
                        </button>
                    </a>

                    <a href="{{ path('app_profil_index') }}">
                        <button class="icon_button">
                            <svg class="icon-m"><use xlink:href="/images/icons.svg#profil"></use></svg>
                        </button>
                    </a>

                    <a href="{{ path('app_transaction_add') }}">
                        <button class="icon_button-add">
                            <svg class="icon-m"><use xlink:href="/images/icons.svg#add"></use></svg>
                        </button>
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
</header>