{% extends 'base.html.twig' %}

{# Paramètre #}
{% set titlebouton = 'Modifier le portefeuille' %}
{% set icone = 'edit' %}
{% set back = 'app_wallet_index' %}

{% block title %}Portefeuille {{ wallet.name }}{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13 margin-bottom-xxxl">

                {# read and display just one flash message type #}
                {% include('atomic/message_validation.html.twig') %}

                <h1>Mon portefeuille {{ wallet.name }}</h1>

                {# Boutons actions smartphone #}
                <div class="margin-bottom-l">
                    <a href="{{ path('app_wallet_edit',  {id: wallet.uuid  }) }}">
                        <div class="margin-bottom-xxl">
                            {% include('atomic/buttons/action.html.twig') %}
                        </div>
                    </a>
                </div>

                <div>
                    <span class="secondary_information">Type</span> <br>
                    {{ wallet.walletcategory.name }}
                </div>

                <hr class="margin-top-m">

                <div class="margin-top-l">
                    <span class="secondary_information">A propos</span><br>
                    {{ wallet.description }}
                </div>

                <hr class="margin-top-m">

                <div class="margin-top-l">
                    <span class="secondary_information">Transactions liées</span><br>
                    Aucune
                </div>

            </div>

        </div>
    </div>

{% endblock %}