{% extends 'base.html.twig' %}

{% block title %}Portefeuille {{ wallet.name }}{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13">

                {# read and display just one flash message type #}
                {% include('atomic/message_validation.html.twig') %}

                <h1>Mon portefeuille {{ wallet.name }}</h1>

                <div>
                    Type : {{ wallet.walletcategory.name }}
                </div>

                <div>
                    Informations : {{ wallet.description }}
                </div>


                {# Boutons actions smartphone #}
                <div class="margin-bottom-l">
                    <a href="{{ path('app_wallet_edit',  {id: wallet.uuid  }) }}">
                        {% include('atomic/buttons/modify.html.twig') %}
                    </a>
                    {% include('atomic/buttons/delete.html.twig') %}
                </div>

            </div>

        </div>
    </div>

    {# fenêtre modale pour validation de la suppression #}
    {% include('atomic/modale.html.twig') %}

    <script src="/script.js"></script>
    <noscript><p>Merci d'activer Javasript !</p></noscript>

{% endblock %}