{% extends 'base.html.twig' %}

{# Paramètre #}
    {% if type is defined %}
        {% set title = 'Modifier la transaction' %}
        {% set bouton = 'Modifier' %}
        {% set back = 'app_transaction_display' %}
        {% set backoptions = itemid %}
    {% else %}
        {% set title = 'Ajouter une transaction' %}
        {% set bouton = 'Ajouter' %}
        {% set back = 'app_front_index' %}
    {% endif %}

{% block title %}
    {{title }}
{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13 margin-bottom-xxxl">

                <div class="flex space-between">
                    <h1>{{ title }}</h1>
                    {% if itemname is defined %}
                        {{ include('atomic/buttons/delete.html.twig') }}
                    {% endif %}
                </div>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="form_button" value="{{ bouton }}">
                {{ form_end(form) }}

            </div>
        </div>
    </div>

    {# fenêtre modale pour validation de la suppression #}
    {% if itemname is defined %}
        {% include('atomic/modale.html.twig') %}
    {% endif %}

    <script src="/script.js"></script>
    <noscript><p>Merci d'activer Javasript !</p></noscript>

{% endblock %}




